<t-menubar></t-menubar>
<div class="container">
    <h5>Tasks</h5>
    <table class="table">
        <tbody>
            <tr *ngFor="let t of tasks">
                <td>{{t.name}}</td>
                <td>
                    <button (click)="editById(t.id)" class="btn btn-secondary btn-sm"><span class="fas fa-edit"></span></button>
                    <button *ngIf="canDelete(t.id)" (click)="deleteById(t.id)" class="btn btn-danger btn-sm ml-3"><span class="fas fa-times"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
    <form [formGroup]="formGroup">
        <div class="input-group">
            <input formControlName="name" type="text" class="form-control" placeholder="New task">
            <div class="input-group-append">
                <button (click)="add()" [disabled]="!canAdd" class="btn btn-secondary btn-sm"><span class="fas fa-plus"></span></button>
            </div>
        </div>
    </form>
</div>