<ng-template #element class="modal" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <p>{{message}}</p>
    </div>
    <div class="modal-footer">
        <button *ngIf="yesVisible" ngbAutofocus (click)="yes()" type="button" class="btn btn-primary">Yes</button>
        <button *ngIf="okVisible" ngbAutofocus (click)="ok()" type="button" class="btn btn-primary">OK</button>
        <button *ngIf="noVisible" (click)="no()" type="button" class="btn btn-secondary">No</button>
        <button *ngIf="cancelVisible" (click)="cancel()" type="button" class="btn btn-secondary">Cancel</button>
    </div>
</ng-template>