<t-menubar></t-menubar>
<div class="container">
    <form [formGroup]="formGroup" class="my-3">
        <div class="form-group text-center">
            <t-time-control-buttons></t-time-control-buttons>
        </div>
        <div *ngIf="canStartTask" class="form-group">
            <label>Current task</label>
            <div class="input-group">
                <select formControlName="task" class="custom-select">
                    <option [value]="0"></option>
                    <option *ngFor="let t of tasks" [value]="t.id">{{t.name}}</option>
                </select>
                <div class="input-group-append">
                    <button (click)="startTask()" class="btn btn-primary"><span class="fas fa-play"></span></button>
                </div>
            </div>
        </div>
        <div *ngIf="canSelectEvent" class="form-group">
            <label>Event</label>
            <div class="input-group">
                <select formControlName="event" class="custom-select">
                    <option *ngFor="let e of events" [value]="e.id">{{e.name}}</option>
                </select>
                <div class="input-group-append">
                    <button (click)="recordEvent()" [disabled]="!canRecordEvent" class="btn btn-primary"><span class="fas fa-plus"></span></button>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Worked</label>
                <input type="text" readonly="readonly" class="form-control" value="{{workedDate | date:'H:mm'}} / {{workedHours | number:'1.1-1'}} h">
            </div>
            <div class="form-group col">
                <label>Paused</label>
                <input type="text" readonly="readonly" class="form-control" value="{{pausedDate | date:'H:mm'}}">
            </div>
        </div>
        <div class="form-group">
            <ngb-accordion>
                <ngb-panel>
                    <ng-template ngbPanelHeader let-opened="opened">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="m-0">Log</h5>
                            <div>
                                <button ngbPanelToggle class="btn btn-sm btn-secondary"><span *ngIf="opened" class="fas fa-caret-up"></span><span *ngIf="!opened" class="fas fa-caret-down"></span></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <t-time-control-log></t-time-control-log>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div *ngIf="!canSave && isFinished" class="form-group">
            <div class="alert alert-danger" role="alert">One or more start times are not correct.</div>
        </div>
        <div class="form-group text-center">
            <button (click)="save()" [disabled]="!canSave" class="btn btn-primary mx-3" type="button">Save worklog</button>
            <button (click)="reset()" [disabled]="!canReset" class="btn btn-secondary mx-3" type="button">Reset</button>
        </div>
    </form>
</div>