<t-titlebar></t-titlebar>
<div class="container">
    <h4>{{start | date:'EEEE, d.M.yyyy'}}</h4>
    <table class="table table-sm">
        <tbody>
            <tr>
                <th>Time</th>
                <td colspan="2" class="text-center">{{start | date:'H:mm'}} - {{end | date:'H:mm'}}</td>
            </tr>
            <tr>
                <th>Paused</th>
                <td class="text-right">{{pausedDate | date:'H:mm'}}</td>
                <td class="text-right">{{pausedHours | number:'1.1-1'}} h</td>
            </tr>
            <tr>
                <th>Worked</th>
                <td class="text-right">{{durationDate | date:'H:mm'}}</td>
                <td class="text-right">{{durationHours | number:'1.1-1'}} h</td>
            </tr>
            <tr>
                <th>Accountable time</th>
                <td class="text-right">{{accountableDate | date:'H:mm'}}</td>
                <td class="text-right">{{accountableHours | number:'1.1-1'}} h</td>
            </tr>
            <tr *ngFor="let t of tasks">
                <td>{{t.name}}</td>
                <td class="text-right">{{t.durationDate | date:'H:mm'}}</td>
                <td class="text-right">{{t.durationHours | number:'1.1-1'}} h</td>
            </tr>
            <tr *ngFor="let c of categories">
                <td>{{c.name}}</td>
                <td class="text-right">{{c.durationDate | date:'H:mm'}}</td>
                <td class="text-right">{{c.durationHours | number:'1.1-1'}} h</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
            <tr *ngFor="let e of events">
                <td>{{e.time | date:'H:mm'}}</td>
                <td>{{e.event}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button *ngIf="hasPrevDay" routerLink="/calendar/{{month}}/{{previousDay}}" type="button" class="btn btn-secondary mx-3"><span class="fas fa-chevron-left"></span></button>
        <button routerLink="/calendar" type="button" class="btn btn-secondary mx-3">Close</button>
        <button *ngIf="hasNextDay" routerLink="/calendar/{{month}}/{{nextDay}}" type="button" class="btn btn-secondary mx-3"><span class="fas fa-chevron-right"></span></button>
    </div>
</div>