<t-menubar></t-menubar>
<div class="container">
    <form [formGroup]="formGroup" class="my-3">
        <div class="form-row">
            <div class="form-group col">
                <select formControlName="month" class="custom-select custom-select-lg">
                    <option *ngFor="let m of months" [value]="m.getMonth()">{{m | date:'MMMM'}}</option>
                </select>
            </div>
            <div class="form-group col">
                <select formControlName="filter" class="custom-select custom-select-lg">
                    <option value="worked">Worked</option>
                    <option value="absences">Absences</option>
                    <option value="all">All</option>
                </select>
            </div>
        </div>
    </form>
    <table class="table table-sm">
        <tbody>
            <tr *ngFor="let day of days">
                <th>{{day.start | date:'E, d.'}}</th>
                <td>{{day.time | date:'H:mm'}}</td>
                <td>{{day.duration | number:'1.1-1'}} h</td>
                <td>
                    <button (click)="editDay(day.start)" class="btn btn-sm btn-secondary ml-2"><span class="fas fa-edit"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>